@media screen and (max-width: 1200px) {
  /* Nav Bar---------- */
  #Desktop-nav {
    display: none;
  }

  #Hamburger-nav {
    display: flex;
  }

  .nav-Hambar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
  }

  /* Hero section----- */

  .section--hero {
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 2rem;
  }

  .section1_img {
    width: 408px;
    height: 100%;
  }
}

@media screen and (max-width: 974px) {
  /* Popular Picks section -------*/
  .popular_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popular_picks {
    padding: 1rem 0;
  }

  /* Why shop with loople --------------*/
  .delivery-card {
    display: flex;
    flex-direction: column;
  }

  /* Newsletter ------*/
  .newsletter_field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .newsletter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 854px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}
